---
---

@import "{{ site.theme }}";

/* Custom theme CSS goes below this line */

body {
  max-width:800px;
  margin:auto;
  background:#fff;
  text-align:left;
}

#header_wrap,
#footer_wrap {
  display:none;
}

h1 {
  text-align:center;
}

h2 {
  background: none;
}

a#b1 {
  padding: 20px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  background-color: #4DA53C;
  display:block;
  border-radius:3px;
  margin-top: 30px;
  margin-bottom:30px;
}

a#b2 {
  padding: 20px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  background-color: #529ECC;
  display:block;
  border-radius:3px;
  margin-top: 30px;
  margin-bottom:30px;
}

a#b3 {
  padding: 20px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  background-color: #f9ae00;
  display:block;
  border-radius:3px;
  margin-top: 30px;
  margin-bottom:30px;
}

p {
  font-size:18px;
}

.inner {
  background:#fff;
  padding:100px;
  border:1px solid #ccc;
}
